In [1]:
import numpy as np
import pandas as pd
import random
import scipy

from scipy import stats

In [3]:
data = pd.read_csv(r'/Users/harman/Desktop/EDA_NLP/Recommendation System/data/0_news_articles.csv')
print(data.shape)
data.head()

(2250, 6)

,Article_id,Title,Description,Date,Category,URL
0,0,Fire at Vaishno Devi shrine complex; cash coun...,"No one was injured in the fire, which broke ou...","June 8, 2021 7:28:32 pm",India,https://indianexpress.com/article/india/vaishn...
1,1,"Had not gone to meet Nawaz Sharif, says Uddhav...",Uddhav Thackeray led a delegation of his cabin...,"June 8, 2021 6:56:40 pm",India,https://indianexpress.com/article/india/had-no...
2,2,Corruption case: Former Haryana I-T deputy com...,It was in 2016 that the CBI had arrested Nitin...,"June 8, 2021 6:25:24 pm",India,https://indianexpress.com/article/india/corrup...
3,3,Kannur MP K Sudhakaran appointed chief of Cong...,Sudhakaran will replace Ramachandran who had a...,"June 8, 2021 5:04:40 pm",India,https://indianexpress.com/article/india/sudhak...
4,4,"Kerala girl of Class 5 writes to CJI, lauds SC...",Chief Justice N V Ramana responded to the Clas...,"June 8, 2021 4:43:10 pm",India,https://indianexpress.com/article/india/kerala...

In [4]:
total_length = 2250 # dataset has 2250 rows
data = data.drop(["Category"], axis = 1)
data.head()

,Article_id,Title,Description,Date,URL
0,0,Fire at Vaishno Devi shrine complex; cash coun...,"No one was injured in the fire, which broke ou...","June 8, 2021 7:28:32 pm",https://indianexpress.com/article/india/vaishn...
1,1,"Had not gone to meet Nawaz Sharif, says Uddhav...",Uddhav Thackeray led a delegation of his cabin...,"June 8, 2021 6:56:40 pm",https://indianexpress.com/article/india/had-no...
2,2,Corruption case: Former Haryana I-T deputy com...,It was in 2016 that the CBI had arrested Nitin...,"June 8, 2021 6:25:24 pm",https://indianexpress.com/article/india/corrup...
3,3,Kannur MP K Sudhakaran appointed chief of Cong...,Sudhakaran will replace Ramachandran who had a...,"June 8, 2021 5:04:40 pm",https://indianexpress.com/article/india/sudhak...
4,4,"Kerala girl of Class 5 writes to CJI, lauds SC...",Chief Justice N V Ramana responded to the Clas...,"June 8, 2021 4:43:10 pm",https://indianexpress.com/article/india/kerala...

# UserID

In [5]:
def generator():
    session = stats.geom.rvs(size = 2250, p = 0.3) # dataset has 2250 rows
    return session

user_session = generator()

In [6]:
user_id = []
id = 1

for u_id in range(total_length):
    user_id.append(id)
    if u_id > 10:
        id += 1
        
user_id = np.array(user_id).flatten()
len(user_id)

2250

In [7]:
data['UserId'] = user_id
print(data.shape)

(2250, 6)

In [8]:
session_id = []
i = 1

for s_id in range(total_length):
    session_id.append(i)
    if s_id > 15:
        i += 1

session_id = np.array(session_id).flatten()
len(session_id)

2250

In [9]:
data['SessionId'] = session_id
print(data.shape)

(2250, 7)

# Article Rank

In [10]:
article_rank = []
i = 1
for ar in range(total_length):
    article_rank.append(i)
    i += 1
    
    if i>10:
        i = 1
len(article_rank)

2250

In [11]:
data['Article Rank'] = article_rank

# Click status

In [12]:
click_session = []
for c in range(total_length):
    click_session.append(random.choice([True, False]))
    
len(click_session)

2250

In [13]:
data['Click'] = click_session

# Time taken

In [14]:
time_session = []
for t in range(total_length):
    time_session.append(np.random.randint(10, 100))
    
# if click is false set time to 0

for i in range(total_length):
    if click_session[i] is True:
        time_session[i] = time_session[i]
    else:
        time_session[i] = 0

len(time_session)

2250

In [15]:
data['Time Spent (seconds)'] = time_session

In [16]:
data.head()

,Article_id,Title,Description,Date,URL,UserId,SessionId,Article Rank,Click,Time Spent (seconds)
0,0,Fire at Vaishno Devi shrine complex; cash coun...,"No one was injured in the fire, which broke ou...","June 8, 2021 7:28:32 pm",https://indianexpress.com/article/india/vaishn...,1,1,1,True,25
1,1,"Had not gone to meet Nawaz Sharif, says Uddhav...",Uddhav Thackeray led a delegation of his cabin...,"June 8, 2021 6:56:40 pm",https://indianexpress.com/article/india/had-no...,1,1,2,True,14
2,2,Corruption case: Former Haryana I-T deputy com...,It was in 2016 that the CBI had arrested Nitin...,"June 8, 2021 6:25:24 pm",https://indianexpress.com/article/india/corrup...,1,1,3,True,57
3,3,Kannur MP K Sudhakaran appointed chief of Cong...,Sudhakaran will replace Ramachandran who had a...,"June 8, 2021 5:04:40 pm",https://indianexpress.com/article/india/sudhak...,1,1,4,False,0
4,4,"Kerala girl of Class 5 writes to CJI, lauds SC...",Chief Justice N V Ramana responded to the Clas...,"June 8, 2021 4:43:10 pm",https://indianexpress.com/article/india/kerala...,1,1,5,True,62

In [17]:
data.tail()

,Article_id,Title,Description,Date,URL,UserId,SessionId,Article Rank,Click,Time Spent (seconds)
2245,2245,"Malaika Arora shares yoga asanas for healthy, ...",Malaika Arora shares three yoga poses that can...,"May 3, 2021 2:04:14 pm",https://indianexpress.com/article/lifestyle/fi...,2235,2230,6,True,89
2246,2246,COVID-19 diet: Khichdi is a ‘safe’ option; oth...,One should make sure that the meals are hot an...,"May 3, 2021 9:10:55 am",https://indianexpress.com/article/lifestyle/fo...,2236,2231,7,True,46
2247,2247,‘Keep listening. The world wants to hear your ...,"""Not every problem has a high-tech solution. N...","May 3, 2021 8:15:33 am",https://indianexpress.com/article/lifestyle/li...,2237,2232,8,True,47
2248,2248,"Forget cold drinks, switch to refreshing bael ...","Bael sherbet, a delightful and soothing detox ...","May 2, 2021 10:30:54 pm",https://indianexpress.com/article/lifestyle/fo...,2238,2233,9,True,34
2249,2249,‘Love wins’: Rita Wilson and Tom Hanks celebra...,The 'Forest Gump' actor nursed a crush on Wils...,"May 2, 2021 9:40:39 pm",https://indianexpress.com/article/lifestyle/fe...,2239,2234,10,False,0

In [18]:
for i in range(total_length):
    if time_session[i] == 0:
        data = data.drop(i)
        total_length -= 1
print(total_length)

1113

In [19]:
data.head()

,Article_id,Title,Description,Date,URL,UserId,SessionId,Article Rank,Click,Time Spent (seconds)
0,0,Fire at Vaishno Devi shrine complex; cash coun...,"No one was injured in the fire, which broke ou...","June 8, 2021 7:28:32 pm",https://indianexpress.com/article/india/vaishn...,1,1,1,True,25
1,1,"Had not gone to meet Nawaz Sharif, says Uddhav...",Uddhav Thackeray led a delegation of his cabin...,"June 8, 2021 6:56:40 pm",https://indianexpress.com/article/india/had-no...,1,1,2,True,14
2,2,Corruption case: Former Haryana I-T deputy com...,It was in 2016 that the CBI had arrested Nitin...,"June 8, 2021 6:25:24 pm",https://indianexpress.com/article/india/corrup...,1,1,3,True,57
4,4,"Kerala girl of Class 5 writes to CJI, lauds SC...",Chief Justice N V Ramana responded to the Clas...,"June 8, 2021 4:43:10 pm",https://indianexpress.com/article/india/kerala...,1,1,5,True,62
8,8,Dantewada: 24-year-old tribal woman killed in ...,"The victim's mother alleged she was raped, and...","June 8, 2021 2:53:00 pm",https://indianexpress.com/article/india/chhatt...,1,1,9,True,77

In [20]:
data.tail()

,Article_id,Title,Description,Date,URL,UserId,SessionId,Article Rank,Click,Time Spent (seconds)
2244,2244,How learning about your genes can help with yo...,Genetics influences our food tastes and sensit...,"May 3, 2021 2:03:38 pm",https://indianexpress.com/article/lifestyle/he...,2234,2229,5,True,28
2245,2245,"Malaika Arora shares yoga asanas for healthy, ...",Malaika Arora shares three yoga poses that can...,"May 3, 2021 2:04:14 pm",https://indianexpress.com/article/lifestyle/fi...,2235,2230,6,True,89
2246,2246,COVID-19 diet: Khichdi is a ‘safe’ option; oth...,One should make sure that the meals are hot an...,"May 3, 2021 9:10:55 am",https://indianexpress.com/article/lifestyle/fo...,2236,2231,7,True,46
2247,2247,‘Keep listening. The world wants to hear your ...,"""Not every problem has a high-tech solution. N...","May 3, 2021 8:15:33 am",https://indianexpress.com/article/lifestyle/li...,2237,2232,8,True,47
2248,2248,"Forget cold drinks, switch to refreshing bael ...","Bael sherbet, a delightful and soothing detox ...","May 2, 2021 10:30:54 pm",https://indianexpress.com/article/lifestyle/fo...,2238,2233,9,True,34

In [21]:
data.shape

(1113, 10)

In [23]:
data.to_csv(r'data/2_user_interest.csv')

## For makinng Recommendations based on Ratings, we need to generate Ratings

Method followed:
    
    1. 0 rating for least interesting article
    
    2. 5 rating for most interesting article

In [24]:
ratings = []
for r in range(total_length):
    ratings.append(np.random.randint(1, 6))
        
len(ratings)

1113

### Adding Rating Dataframe

In [25]:
data['Ratings'] = ratings
data.head()

,Article_id,Title,Description,Date,URL,UserId,SessionId,Article Rank,Click,Time Spent (seconds),Ratings
0,0,Fire at Vaishno Devi shrine complex; cash coun...,"No one was injured in the fire, which broke ou...","June 8, 2021 7:28:32 pm",https://indianexpress.com/article/india/vaishn...,1,1,1,True,25,2
1,1,"Had not gone to meet Nawaz Sharif, says Uddhav...",Uddhav Thackeray led a delegation of his cabin...,"June 8, 2021 6:56:40 pm",https://indianexpress.com/article/india/had-no...,1,1,2,True,14,4
2,2,Corruption case: Former Haryana I-T deputy com...,It was in 2016 that the CBI had arrested Nitin...,"June 8, 2021 6:25:24 pm",https://indianexpress.com/article/india/corrup...,1,1,3,True,57,1
4,4,"Kerala girl of Class 5 writes to CJI, lauds SC...",Chief Justice N V Ramana responded to the Clas...,"June 8, 2021 4:43:10 pm",https://indianexpress.com/article/india/kerala...,1,1,5,True,62,2
8,8,Dantewada: 24-year-old tribal woman killed in ...,"The victim's mother alleged she was raped, and...","June 8, 2021 2:53:00 pm",https://indianexpress.com/article/india/chhatt...,1,1,9,True,77,3

In [27]:
ratings_data = data.drop(columns = ['Description', 'Date', 'URL', 'Click'])
ratings_data.head()

,Article_id,Title,UserId,SessionId,Article Rank,Time Spent (seconds),Ratings
0,0,Fire at Vaishno Devi shrine complex; cash coun...,1,1,1,25,2
1,1,"Had not gone to meet Nawaz Sharif, says Uddhav...",1,1,2,14,4
2,2,Corruption case: Former Haryana I-T deputy com...,1,1,3,57,1
4,4,"Kerala girl of Class 5 writes to CJI, lauds SC...",1,1,5,62,2
8,8,Dantewada: 24-year-old tribal woman killed in ...,1,1,9,77,3

In [28]:
ratings_data.to_csv('/data/3_user_rated_articles.csv')